{% load static %}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
</head>
<body>
<header>
    <h1>Welcome to Al-Netek by Liad and Bar!</h1>
</header>
<div class="main_body">
    <nav>
        <ul>
            <li><a href="">Home</a></li>
            <li><a href="/Query_Results">Query Results</a></li>
            <li><a href="/Records_Management">Records Management</a></li>
            <li><a href="/Rankings">Rankings</a></li>
        </ul>
    </nav>
    <main>
        <img src="https://miro.medium.com/max/1000/1*Dbc5ysJJkNwxxNcxZyU7qA.jpeg"
             alt="video" style="width: 550px;height: 350px">
    </main>
</div>
</body>
</html>